body {
  color: var(--color-foreground-primary);
  background-color: var(--color-background-primary);
  font-family: var(--font-family-primary), Arial, sans-serif;
}

::selection {
  color: black;
  background-color: var(--color-accent);
}
